#booking_form{
  width: 420px;
  padding: 20px;
  text-align: center;
  background:white;
  /*background: #191929;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  /*box-shadow: 1px 2px 2px 2px black;*/
  box-shadow: 1px 2px 3px 1px #0070ba;
  display:none;
}
#booking_form h1{
  margin-top: 10px;
  font-family: 'Permanent Marker', cursive;
  color: #0070ba;
  font-size: 40px;
  text-shadow: 2px 2px black;
}
#booking_form input{
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  font-family: sans-serif;
  border: 2px solid #0070ba;
  background:none;
  color:black;
  font-weight: 6px;
}
#book_btn{
  background-color: #0070ba;
  border-radius:30px;
  display:block;
  color:white;
  margin-right: auto;
  margin-left: auto;
  border: none;
  padding:5px;
}
.submit-btn{
  margin-top: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}
#booking_form a{
  text-decoration: none;
  color: #487eb0;
  font-family: "montserrat",sans-serif;
  font-size: 14px;
  padding: 10px;
  display: block;
}
